[submodule "Engine/Vendor/ThirdParty/googletest"]
	path = Engine/Vendor/ThirdParty/googletest
	url = https://github.com/google/googletest
	shallow = true
[submodule "Engine/Vendor/ThirdParty/glslang"]
	path = Engine/Vendor/ThirdParty/glslang
	url = https://github.com/jimmiebergmann/glslang
	shallow = true
[submodule "Engine/Vendor/ThirdParty/FreeType2"]
	path = Engine/Vendor/ThirdParty/FreeType2
	url = https://github.com/jimmiebergmann/FreeType2
